main {
  padding: 16px 16px 63px 16px;
}

h1 {
  margin-top: 64px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
}
.final-password {
  width: 100%;
  height: 64px;
  background: #24232c;
  padding: 17px 22px 15px 16px;
  display: flex;
  justify-content: space-between;
}

.password {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #e6e5ea;
}
.characteristics {
  margin-top: 16px;
  padding: 16px;
  background: #24232c;
  height: auto;
}

.character-length {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.length {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}
.number {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #a4ffaf;
}
.slider {
  width: 100%;
  margin-top: 23px;
  background: #a4ffaf;
}

.checkbox {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkbox div {
  display: flex;
}
.checkbox .box {
  margin-bottom: 16px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
  background: #24232c;
}

label {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}

.strength {
  margin-top: 16px;
  width: 100%;
  padding: 14px 14px 14px 16px;
  display: flex;
  background: #18171f;
  margin-bottom: 16px;
  align-items: center;
  gap: 16px;
}
.title {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
  margin-right: auto;
}
.indicator {
  display: flex;
  width: auto;
  gap: 8px;
}
.indicator div {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

.generate {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 17px;
  background: #a4ffaf;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #24232c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.strength-level {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #e6e5ea;
}
