main {
  padding: 16px 16px 63px 16px;
}

h1 {
  margin-top: 64px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
}
.final-password {
  width: 100%;
  height: 64px;
  background: #24232c;
  padding: 17px 22px 15px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.final-password svg {
  cursor: pointer;
}

.final-password svg:hover path {
  fill: #ffffff;
}

.password {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #e6e5ea;
  background: #24232c;
  margin-right: auto;
}
.copied {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #a4ffaf;
}

.characteristics {
  margin-top: 16px;
  padding: 16px;
  background: #24232c;
  height: auto;
}

.character-length {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.length {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}
.number {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #a4ffaf;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  /* background: rgba(164, 255, 175, 1); */
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #e6e5ea;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #18171f;
  border: 2px solid #a4ffaf;
}

.checkbox {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkbox div {
  display: flex;
}
.checkbox .box {
  margin-bottom: 16px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
  cursor: pointer;
}
.checkbox .box:hover {
  border: 2px solid #a4ffaf;
}

.checked {
  background-color: #a4ffaf;
  background-image: url("./assets/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

label {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}

.strength {
  margin-top: 16px;
  width: 100%;
  padding: 14px 14px 14px 16px;
  display: flex;
  background: #18171f;
  margin-bottom: 16px;
  align-items: center;
  gap: 16px;
}
.title {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
  margin-right: auto;
}
.indicator {
  display: flex;
  width: auto;
  gap: 8px;
}
.indicator div {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

.generate {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 17px;
  background: #a4ffaf;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #24232c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.generate:hover {
  background: #24232c;
  border: 2px solid #a4ffaf;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #a4ffaf;
}
.generate:hover svg path {
  fill: #a4ffaf;
}

.strength-level {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #e6e5ea;
}

@media screen and (min-width: 768px) {
  main {
    padding: 31px 114px 196px 114px;
  }
  h1 {
    margin-top: 133px;
  }
  .password {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  .length {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .number {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  label {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .strength-level {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .generate {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding: 31px 450px 196px 450px;
  }
}
